.execute_input {
  background-color: lightgoldenrodyellow;
  border-radius: 16px;
  padding: 8px;
  margin: 8px;
}

.error {
  background-color: red;
  border-radius: 16px;
  padding: 8px;
  margin: 8px;
}

.execute_result {
  background-color: lightgreen;
  border-radius: 16px;
  padding: 8px;
  margin: 8px;
}

.stream {
  background-color: lightblue;
  border-radius: 16px;
  padding: 8px;
  margin: 8px;
}
